*{margin: 0;padding: 0;}

body, html {width: 100%; height: 100%;}

#root {
  width: 100%; height: 100%;
  padding: 20px;
  background: url('http://pic.51yuansu.com/pic3/cover/02/53/79/59e770f7e19bd_610.jpg');

  .header {

    .input {
      flex-direction: row;
    }
  }

  .list-group {
    .state {
      float: right;
    }
  }

  .btn-group {
    margin-top: 20px;
  }
}